.card{
    width: 25%;
    padding: 20px;
    font-family: sans-serif;
    border: 1px solid #dadada;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flag{
    width: 30px;
}
.row-center{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}